# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code / IDEs
.vscode/
.idea/
