# Ignore environment files containing local keys/secrets
.env
.env.local
*.env

# Ignore all private folders and files containing PII
**/private/
private/

# Ignore all temporary folders and files (build/run output)
**/tmp/
tmp/

# Python virtual environments
.venv/
**/__pycache__/

# Node/JavaScript dependencies & Next.js build files
node_modules/
.next/

# Rust build directories
target/

# IDE/Editor directories
.vscode/
.idea/

# Tool/linter cache directories
.ruff_cache/
.pytest_cache/
.mypy_cache/
.deepeval/
tsconfig.tsbuildinfo
